commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  - option_name: APP_ENV
    value: placeholder
  - option_name: APP_DEBUG
    value: placeholder
  - option_name: APP_KEY
    value: placeholder

  - option_name: DB_HOST
    value: placeholder
  - option_name: DB_DATABASE
    value: placeholder
  - option_name: DB_USERNAME
    value: placeholder
  - option_name: DB_PASSWORD
    value: placeholder

  - option_name: QUEUE_DRIVER
    value: sqs
  - option_name: SQS_KEY
    value: placeholder
  - option_name: SQS_SECRET
    value: placeholder/b1t
  - option_name: SQS_QUEUE
    value: placeholder
  - option_name: SQS_REGION
    value: placeholder

container_commands:
   "1-storage-permissions":
      command: "chmod -R 755 laravel/storage"
   "2-install-dependencies":
      command: "cd laravel; /usr/bin/composer.phar install"
   "3-artisan-migrate":
      command: "cd laravel; php artisan migrate --force"
      leader_only: true
   "4-install-supervisor":
      command: "chmod +x .ebextensions/supervisord/installer/run.sh && .ebextensions/supervisord/installer/run.sh"
